.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4.5rem 1rem;
}

.content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 3rem;
}

.animContainer{
    height: 25rem;
    max-width: 33rem;
    overflow: hidden;
}

.heading{
    color: #FFB400;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-align: center;
}

.heading::before{
    content: 'RESUME';
    position: absolute;
    width: 150%; 
    height: 5rem; 
    background-color: transparent; 
    z-index: -1;
    font-size: 8rem;
    opacity: 0.1;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.tableHead{
    font-family: 'Poppins', sans-serif;
    color: var(--body-color);
    font-size: 2rem;
    text-align: left;
}

.table{
    border-collapse: separate;
    border-spacing: 2rem 1rem;
    text-align: left;
    margin-left: -2rem;
}

.label{
    font-size: 1.1rem;
}

.data{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--body-color);
}

.downloadBtn{
    margin: 1.5rem 8rem 0rem 0rem;
    display: flex;
    height: 3.5rem;
    width: 16rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.8rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--body-color);
    border: 2px solid #FFB400;
    position: relative;
    transition: background-position 0.3s ease-in-out; 
    overflow: hidden;
}

.btnText{
    font-size: 1.1rem;
    font-weight: 550;
    margin-left: 2.4rem;
    background-color: transparent;
}

.downIcon{
    position: absolute;
    background-color: #FFB400;
    padding: 1.1rem;
    font-size: 1.2rem;
    border-radius: 50%;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #FFB400 100%, transparent 50%);
    transition: left 0.3s ease-in-out;
    z-index: -1;
}

.downloadBtn:hover::before {
    left: 0;
}

.downloadBtn:hover {
    transition: 0.3s ease-in-out;
    color: white;
}

.about{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
}

.about li{
    margin-bottom: 0.5rem;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .heading{
        font-size: 2rem;
        margin: 1rem;
    }
    .heading::before{
        left: 48%;
        height: 2.5rem; 
        font-size: 4rem;
    }
    .content{
        margin-top: 6rem;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 3rem;
        place-items: center;
    }
    .animContainer{
        height: 15rem;
        max-width: 20rem;
        margin: -4rem 0 -0.5rem 0;
    }
    .mainContainer{
        padding: 3rem 1rem;
    }
    .tableHead{
        margin: 0 0 0.5rem 0;
        font-size: 1.25rem;
        text-align: center;
    }
    .label, .data{
        font-size: 1rem;
    }
    .info{
        margin-left: 0;
        align-items: center;
        order: 4;
    }
    .anime1{
        order: 3;
        margin: -1.5rem 0rem;
    }
    .anime2{
        order: 1;
        margin: -6rem 0 -2rem 0;
    }
    .table{
        border-collapse: separate;
        border-spacing: 2rem 0.5rem;
        text-align: left;
        margin-left: 0rem;
    }
    .downloadBtn{
        margin: 2rem 0rem 0rem 0rem;
        width: 14rem;
        height: 3rem;
    }
    .btnText{
        font-size: 0.9rem;
        margin-left: 2rem;
    }
    .downIcon{
        font-size: 1rem;
        padding: 0.88rem;
    }
    .about{
        margin: -1.5rem 0rem 1rem 0rem;
        font-size: 1rem;
        order: 2;
    }
    .about li{
        font-size: 0.95rem;
    }
}