.carousel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer{
    margin-top: 3rem;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 100%;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: var(--body-color);
    background-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;
}

.before{
    left: 25%;
}

.after{
    right: 25%;
}