.container {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.container:hover {
  transform: scale(1.1);
}
.circular_progress {
  position: relative;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular_progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: var(--body-background);
  border-radius: 50%;
}
.value_container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
.name {
  color: var(--body-color);
}
.percentage {
  color: #ffb400;
}

@media screen and (max-width: 540px) {
  .circular_progress {
    height: 4.5rem;
    width: 4.5rem;
  }
  .container {
    height: 8rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
}
