.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5.5rem 1rem;
}

.heading {
  color: #ffb400;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: center;
  margin-top: 1rem;
}

.heading::before {
  content: "EXPERIENCE";
  position: absolute;
  width: 150%;
  height: 5rem;
  background-color: transparent;
  z-index: -1;
  font-size: 7rem;
  opacity: 0.1;
  left: 35%;
  top: 17%;
  transform: translate(-50%, -50%);
}

.content {
  width: 100%;
}

.content1 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 5rem;
}

.content2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: -3rem;
}

.exp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.exp1 {
  border-right: 2px solid #ffb400;
  align-items: flex-end;
}

.exp2 {
  margin: 3rem 0rem 0rem 3rem;
  border-left: 2px solid #ffb400;
}

.expContainer {
  text-align: left;
  margin: 2.5rem 0rem 4rem 0rem;
}

.exp2Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4rem 0rem 2rem 1rem;
}

.expContainer:hover .date,
.expContainer:hover .date2 {
  transition: 0.3s ease-in-out;
  color: #ffb400;
}

.expContainer:hover .circle,
.expContainer:hover .circle2 {
  transition: 0.3s ease-in-out;
  transform: scale(1.15);
}

.svgLogo {
  height: 5rem;
  width: 10rem;
  margin-left: 2rem;
  cursor: pointer;
  aspect-ratio: 2/1;
}

.imgLogo {
  height: 3rem;
  width: 10rem;
  margin: 0 0 1rem 2rem;
  cursor: pointer;
  aspect-ratio: 2/1;
}

.exp2 img {
  height: 2.6rem;
  width: 9.5rem;
  margin: 1rem 0rem 1.5rem 2rem;
  cursor: pointer;
  aspect-ratio: 95/26;
}

.mainContainer ul {
  text-align: left;
  max-width: 35rem;
  margin-right: 1.5rem;
}

.mainContainer li {
  margin-bottom: 1rem;
  color: var(--body-color);
  font-weight: 550;
}

.mainContainer b {
  font-weight: 800;
  font-size: 1.08rem;
}

.circle {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ffb400;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1rem;
}

.circle2 {
  left: -1.3rem;
}

.date {
  position: absolute;
  top: -0.8rem;
  font-size: 1.5rem;
  display: flex;
  right: 0;
}

.date hr {
  width: 6rem;
  background-color: #ffb400;
  border: none;
  margin-left: 1rem;
  z-index: -1;
}

.date2 {
  position: absolute;
  top: -0.8rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
}

.date2 hr {
  width: 5.5rem;
  background-color: #ffb400;
  border: none;
  margin-right: 1rem;
  z-index: -1;
}

.designation {
  font-family: "Poppins", sans-serif;
  color: var(--body-color);
  font-size: 2rem;
  text-align: left;
  margin: 0rem 0rem 0rem 1.9rem;
}

@media screen and (max-width: 1024px) {
  .mainContainer {
    padding: 3rem 1rem 3.5rem 1rem;
  }

  .heading {
    font-size: 2rem;
    margin: 1rem;
  }

  .heading::before {
    font-size: 3.2rem;
    height: 2.1rem;
    left: 41%;
    top: 12%;
  }

  .content1 {
    justify-content: flex-end;
    margin-top: 4rem;
  }

  .content2 {
    margin: 0 0 -3.2rem 2rem;
  }

  .exp1 {
    width: 100%;
    border-right: none;
    border-left: 2px solid #ffb400;
    margin-left: 1rem;
    align-items: flex-start;
  }

  .circle {
    left: -1rem;
    font-size: 1rem;
    width: 2.1rem;
    height: 2.1rem;
  }

  .date {
    top: -0.65rem;
    font-size: 1.1rem;
    display: flex;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
  }

  .date hr {
    width: 3rem;
    margin-right: 0.8rem;
  }

  .exp1Container {
    padding-bottom: 2.5rem;
  }

  .exp2 {
    width: 100%;
    margin: 1rem 0 3.5rem 0rem;
  }

  .date2 {
    top: -0.65rem;
    font-size: 1.1rem;
  }

  .date2 hr {
    width: 4rem;
    margin-right: 0.75rem;
  }

  .svgLogo {
    height: 4rem;
    width: 8rem;
    margin-left: 1.5rem;
  }

  .imgLogo {
    height: 2rem;
    width: 7rem;
    margin-left: 1.5rem;
  }

  .designation {
    font-size: 1.35rem;
    margin: 0rem 0rem 0rem 1.5rem;
  }

  .exp2Container {
    margin: 3rem 0 0 0;
  }

  .exp2 img {
    height: 2.19rem;
    width: 8rem;
    margin: 1rem 0rem 1.5rem 1.5rem;
  }

  .mainContainer b {
    font-weight: 800;
    font-size: 1rem;
  }

  .mainContainer ul {
    max-width: 45rem;
    margin-right: 1rem;
    font-size: 0.95rem;
  }
}
